@import url(//db.onlinewebfonts.com/c/28cd2d1c6f94e83a67d26c546c20ff66?family=MangoSans);
@font-face {font-family: "MangoSans"; src: url("//db.onlinewebfonts.com/t/28cd2d1c6f94e83a67d26c546c20ff66.eot"); src: url("//db.onlinewebfonts.com/t/28cd2d1c6f94e83a67d26c546c20ff66.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/28cd2d1c6f94e83a67d26c546c20ff66.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/28cd2d1c6f94e83a67d26c546c20ff66.woff") format("woff"), url("//db.onlinewebfonts.com/t/28cd2d1c6f94e83a67d26c546c20ff66.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/28cd2d1c6f94e83a67d26c546c20ff66.svg#MangoSans") format("svg"); }

.App {
  text-align: center;
}
a{
  font-family: 'Mangosans';
}

a:hover{
  color:grey;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#navbar-first{
  width: 300px;
}

a{
  color: black;
  text-decoration: none !important;
}

/*Footer*/

.footer-container a{
  color:grey;
}

.container-fluid {
  overflow: hidden; /* make sure this doesn't cause unexpected behaviour */
}

/*Hero Section*/
.carousel-caption a{
  color:white;
  text-shadow: 1px 2px grey;
}
.carousel-caption a:hover{
  color: white;
}
.underline-fade-in {
  display: block;
  position: relative;
  text-decoration: none;
}
.underline-fade-in:hover {
  color: white;
}

.underline-fade-in::after {
  content: '';
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: white;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.underline-fade-in:hover::after,
.underline-fade-in:focus::after{
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}


.link-black-no-a-dec{
  text-decoration: none;
  color:black;
}

.link-hover-grey:hover{
  color:grey;
}

.link-hover-white:hover{
  color:black;
}

.bg-grey{
  background-color: #f8f9fa;
}

.link-blue-no-a-dec{
  text-decoration: none;
  color:#0066C0;
}

.link-hover-darkblue:hover{
  color:darkblue;
}

h3 {
  margin: 10px 0 0 10px;
  font-family: 'Mangosans', sans-serif;
}

h5{
  margin-top:15px;
}
.item {
  padding: 1px;
}
.card{
  height:25vw;
}
.card-body-category{
  flex: 1 1 auto;
  padding-top: 12rem;
  text-align: left;
  color: black;
  font-family: 'Mangosans';
  text-shadow: 1px 1px white;
}
.card-img-top {
  padding-top: 15px;
  max-width: fit-content;
}

.card-img-top:hover{
  transform: scale(1.2);
  padding-top: 20px;
}

button:hover {
  background-color: #5f6b76!important;
  border-color: #546372!important;
}

.menu-link {
  color: black!important;
}

.menu-link:hover {
  color: #989797!important;
}

.nav-link:hover {
  color: #989797 !important;
}

.ecommerce-gallery img {
  max-width: 300px;
}

.form-container{
  min-height: 72vmin;
}

.textred{
  color: #f52020;
}




#carouselExampleControls{
  margin: 15px 0;
}

.logo-text{
  font-family: 'Orbitron', sans-serif;
}

.product-listing-title{
  height:10vw;
}