.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#navbar-first{
  width: 300px;
}

a{
  color: rgba(255,255,255,.5);
  text-decoration: none !important;
}

/*Footer*/

.footer-container a{
  color:grey;
}

.container-fluid {
  overflow: hidden; /* make sure this doesn't cause unexpected behaviour */
}

/*Hero Section*/
.carousel-caption a{
  color:white;
}
.carousel-caption a:hover{
  color: black;
}

.link-black-no-a-dec{
  text-decoration: none;
  color:black;
}

.link-hover-grey:hover{
  color:grey;
}

.link-hover-white:hover{
  color:white;
}

.bg-grey{
  background-color: #f8f9fa;
}

.link-blue-no-a-dec{
  text-decoration: none;
  color:#0066C0;
}

.link-hover-darkblue:hover{
  color:darkblue;
}

h3 {
  margin: 10px;
}

.item {
  margin: 20px 0;
}

.card-img-top {
  padding: 3px 1px;
}

button:hover {
  background-color: #5f6b76!important;
  border-color: #546372!important;
}

.menu-link {
  color: black!important;
}

.menu-link:hover {
  color: #989797!important;
}

.nav-link:hover {
  color: #989797 !important;
}

.ecommerce-gallery img {
  max-width: 300px;
}